@using DepositsComparisonDomainLogic.Contracts
@using DepositsComparisonDomainLogic.Contracts.Models.Deposits
<body class="vw-100 vh-100 overflow-auto" id="emp">
    <table class="table overflow" style="border: 1px solid; overflow-x:auto; background-color:white">
        <thead class="thead-dark">
            <tr>
                <th>#bank</th>
                <th>Name</th>
                <th>min</th>
                <th>max</th>
                <th>i</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (DepositInfo deposit in Model)
            {
                <tr>
                    <th scope="row">e</th>
                    <td>@deposit.Name</td>
                    <td>@deposit.MinAmount</td>
                    <td>@deposit.MaxAmount</td>
                    <td>@deposit.InterestPaymentInfo.Length</td>
                    @*<td asp-action="Add" asp-controller="Home" asp-route-id="@deposit" class="btn-dark">Add</td>
                <td asp-action="Remove" asp-controller="Home" asp-route-id="@deposit" class="btn-dark">Remove</td>*@
                </tr>
            }
        </tbody>
    </table>

    @*<div class="text-center">
        <div class="">
            <a asp-area="" asp-controller="Home" asp-action="Create" class="buttonCreate">Create</a>
        </div>
    </div>*@
</body>