@model IEnumerable<DepositsComparisonDomainLogic.Contracts.Models.Deposits.DepositInfoWithPaymentPlan>

<body>
    <hr><h1 class="section-heading text-uppercase text-center">Депозити</h1>
    <h2 class="section-heading text-uppercase text-center">Намерени оферти</h2><hr />
    @foreach (var item in Model)
    {
        <table class="table overflow" style="border: 1px solid; overflow-x:auto; background-color:white">
            <col style="width: 50%">
            <col style="width: 10%">
            <col style="width: 10%">
            <col style="width: 30%">
            <thead class="thead-dark">
            <tr>
                <th>Име на депозит</th>
                <th>Минимална сума</th>
                <th>Конкретен период в месеци</th>
                <th>Банка</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    @if (@item.Deposit.Name.Length <= 200)
                    {
                        @item.Deposit.Name
                    }
                    else
                    {
                        @item.Deposit.Name.Substring(0, 200)
                    }
                </td>
                <th scope="row">@item.Deposit.MinAmount @item.Deposit.Currency</th>
                <td>
                    @if (item.PaymentPlan != null && item.PaymentPlan.Months != 0)
                    {
                        @item.PaymentPlan.Months
                    }
                    else
                    {
                        @if (@item.Deposit.InterestOptions.FirstOrDefault() != null)
                        {
                            @item.Deposit.InterestOptions.FirstOrDefault().Months
                        }
                    }
                </td>
                <td>@item.Deposit.Bank.Name</td>
            </tr>
            <tr>
                <td class="btn">
                    <a asp-action="DetailsWithPlan" asp-controller="Deposit" asp-route-Id="@item.Deposit.Name" class="btn">
                        <i class="fas fa-info-circle" style="color: darkorange"></i>Информация
                    </a>
                </td>
                <td></td>
                <td></td>
                <td>
                    <a asp-action="PaymentPlan" asp-controller="Deposit" asp-route-Id="@item.Deposit.Name" class="btn">
                        <i class="fas fa-info-circle" style="color: darkorange"></i>Разплащателен план
                    </a>
                </td>

            </tr>
            </tbody>
        </table>
    }
</body>