@model IEnumerable<DepositsComparisonDomainLogic.Contracts.Models.Deposits.DepositInfoWithPaymentPlan>
<body>
    <hr><h1 class="section-heading text-uppercase text-center">Депозити</h1>
    <h2 class="section-heading text-uppercase text-center">Намерени оферти</h2><hr />

    @foreach (var item in Model)
    {
        <table class="table overflow" style="border: 1px solid; overflow-x:auto; background-color:white">
            <thead class="thead-dark">
                <tr>
                    <th>Минимална сума</th>
                    <th>Период</th>
                    <th>Тип</th>
                    <th>Банка</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">@item.Deposit.MinAmount @item.Deposit.Currency</th>
                    <td>
                        @if (@item.Deposit.InterestOptions.FirstOrDefault() != null)
                        {
                            @item.Deposit.InterestOptions.FirstOrDefault().Months
                        }
                    </td>
                    <td>
                        @if (item.Deposit.InterestOptions.FirstOrDefault() != null)
                        {
                            @item.Deposit.InterestOptions.FirstOrDefault().Months
                        }
                    </td>
                    <td>@item.Deposit.Bank.Name</td>
                </tr>
                <tr>
                    <td>
                        <a asp-action="Details" asp-controller="Deposit" asp-route-Id="@item.Deposit.Name" class="btn">
                            <i class="fas fa-info-circle" style="color: darkorange"></i>Информация
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    }
</body>